<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Pubs" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Pubs;Integrated Security=SSPI"/>
	</connectionStrings>
	
  <system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
  </system.web>

</configuration>